<html>
   <head>
     <title>ParkMe!</title>
     <%= csrf_meta_tags %>
     <%= stylesheet_link_tag    'application', media: 'all' %>
     <%= javascript_include_tag 'application' %>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   </head>
   <body>
     <div class="row">
       <div class="col s12 m12 l12">
         <div id="floating-panel" class= "center">
          <input id="address" type="textbox" value=" ">
          <input class="waves-effect waves-teal btn-flat" id="submit" type="button" value="Park!">
        </div>
      </div>
    </div>
    <div class="card-panel z-depth-5" id="map"></div>
    <%= javascript_include_tag 'googlemap' %>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_KEY'] %>&callback=initMap">
    </script>
  </body>
</html>
