<% if current_user == @user %>
  <div class="row center-align">
    <div class="col s6 offset-s3">
    </br></br>
    <%= link_to "Edit User Account", edit_user_registration_path, class: "btn waves-effect waves-light", id: "edit" %></br></br>
    <%= link_to "Add Parking Pass", new_parking_pass_path, class: "btn waves-effect waves-light waves-effect waves-light" %></br></br></br>
  </div>
<% else %>
  </br>
  <div class="row center-align">
    <div class="col s6 offset-s3" id = "userpasses">
      <h1>
        <%= @user.first_name %> <%= @user.last_name %>'s Profile
      </h1>
    </div>
  </div>
  <% end %>
</br>
<div class="row center">
  <div class = "col s6 offset-s3" id = "userpasses">
    <h5><%= @user.first_name %>'s owned Parking Passes:</h5>
      <% @user.parking_passes.each do |parking_pass| %>
        <hr>
        <div><%= link_to "#{parking_pass.address}", parking_pass_path, class: "btn waves-effect waves-light waves-effect waves-light" %></div>
        <ul>
          <li>Pass Number: <%= parking_pass.pass_number%></li>
          <li>Price Per Hour: <%= "$ #{'%.02f' % parking_pass.price_per_hour}"  %> </li>
          <li>Latitude: <%= parking_pass.lat %></li>
          <li>Longitude: <%= parking_pass.lng %></li>
        </ul>
        <% if current_user.try(:admin?) || current_user == @user %>
          <div>
            <%= link_to "Edit Parking Pass", edit_parking_pass_path(parking_pass), class: "btn waves-effect waves-light", id: "edit" %>
          </div>
          <div></br>
            <%= link_to "Delete Parking Pass", parking_pass_path(parking_pass), data: { confirm: "Are you sure?" }, method: :delete, class: "btn waves-effect waves-light", id: "delete" %>
          </div></br>
        <% end %>
      <% end %>
      <% if current_user.try(:admin?) || current_user == @user %>
      <% end %>
    </div>
  </div>
</div>
<div class="row center-align">
  <div class = "col s6 offset-s3" id = "userbookings">
    <h5><%= @user.first_name %>'s Bookings:</h5>
      <% @user.bookings.each do |booking| %>
        <hr>
        <%= booking.parking_pass.address %>
        <%= booking.start_time %>
        <%= booking.end_time %>
        <%= booking.date %>
      <% end %>
  </div>
  </br></br></br></br></br>
  <div class = "row center-align">
    <div class = "col s6 offset-s3">
      <%= link_to "Delete User Account", user_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn waves-effect waves-light", id: "delete" %>
    </div>
  </div>
</div>
