<% if current_user == @user %>
  <div class="center">
    <h3 class="center">
      Your Profile
    </h3>
    <%= link_to "Add A Parking Pass", new_parking_pass_path, class: "btn-large waves-effect waves-light" %>
  </div>
<% else %>
  <h1 class="center-align">
    <%= @user.first_name %> <%= @user.last_name %>'s Profile
  </h1>
  <% end %>
<hr>
</br>
<h5 class="center-align"><%= @user.first_name %>'s owned Parking Passes:</h5>
  <% @user.parking_passes.each do |parking_pass| %>
    <div class="col s6 center-align"><%= link_to "#{parking_pass.address}", parking_pass_path, class: "btn waves-effect waves-light" %></div>
    <ul class= "col s6 center-align">
      <li>Pass Number: <%= parking_pass.pass_number%></li>
      <li>Price Per Hour: <%= parking_pass.price_per_hour%></li>
      <li>Latitude: <%= parking_pass.lat %></li>
      <li>Longitude: <%= parking_pass.lng %></li>
    </ul>
    <% if current_user.try(:admin?) || current_user == @user %>
      <div class="center-align">
        <%= link_to "Edit Parking Pass", edit_parking_pass_path(parking_pass), class: "btn", id: "edit" %>
        <%= link_to "Delete Parking Pass", parking_pass_path(parking_pass), data: { confirm: "Are you sure?" }, method: :delete, class: "btn", id: "delete" %>
      </div></br>
    <% end %>
    <hr>
  <% end %>
  <% if current_user.try(:admin?) || current_user == @user %>
    <div class="center-align">
      <%= link_to "Edit User Account", edit_user_registration_path, class: "btn", id: "edit" %>
      <%= link_to "Delete User Account", user_path(@user), data: { confirm: "Are you sure?" }, method: :delete, class: "btn", id: "delete" %>
    </div>
  <% end %>
</div>
