<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="row center-align">
    <h1 class="main">Forgot your password?</h1>
    <%= devise_error_messages! %>
    <div class="col s12 m12 l12">
      <div class='col s12 m10 push-m1 l6 offset-l3'>
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div class='col s12 m12 l12'>
        <%= f.submit "E-mail instructions", class: 'btn waves-effect waves-light' %>
      </div>
    </div>
  </div>
<% end %>
