<%= form_for :parking_pass, method: :patch, url: parking_pass_path(@parking_pass) do |f| %>
  <div class="row center-align" id="edit-page">
    <h1>Edit Parking Pass</h1>
    <div class='col s12 m12 l12'>
      <div class='col s12 m10 push-m1 l8 offset-l2'>
        <%= f.label :pass_number, class: "new_parking_pass_label" %>
        <%= f.text_area :pass_number, class: "text_area" %>
      </div>
      <div class='col s12 m10 push-m1 l8 offset-l2'>
        <%= f.label :address, class: "new_parking_pass_label" %>
        <%= f.text_area :address, class: "text_area" %>
      </div>
      <div class='col s12 m10 push-m1 l8 offset-l2'>
        <%= f.label :price_per_hour, class: "new_parking_pass_label" %>
        <%= f.text_area :price_per_hour, class: "text_area" %>
      </div>
      <div class='col s12 m10 push-m1 l8 offset-l2'>
        <%= f.submit "Update", class: "btn" %>
      </div>
    </div>
  </div>
<% end %>
