<div class = "row">
  <div class = "center-align">
    <div>
      <h1>Edit Parking Pass</h1>
      <hr>
    </div>
    <div class = "col s6 offset-s3" id="sign_in">
      <%= form_for :parking_pass, method: :patch, url: parking_pass_path(@parking_pass) do |f| %>

        <%= f.label :pass_number, class: "new_parking_pass_label" %>
        <%= f.text_area :pass_number, class: "text_area" %>

        <%= f.label :address, class: "new_parking_pass_label" %>
        <%= f.text_area :address, class: "text_area" %>

        <%= f.label :price_per_hour, class: "new_parking_pass_label" %>
        <%= f.text_area :price_per_hour, class: "text_area" %>

      <div class="center"></br><%= f.submit "Update", class: "btn" %></div>
      <% end %>
    </div>
  </div>
</div>
