<div class="row center">
  <div class="col s12 m10 offset-m1 l8 offset-l2 card-panel z-depth-3" id="pass-info">
    <h2>Address:</h2>
    <h2><%= @parking_pass.address %></h2>
    <h2>Pass #: <%= @parking_pass.pass_number %></h2>
    <h2>Price Per Hour: <%= "$#{'%.02f' % @parking_pass.price_per_hour}"  %></h2>
    <h2>Pass Owner:</h2>
    <h2><%= @parking_pass.user.first_name %> <%= @parking_pass.user.last_name %></h2>
  </br>
  <% if current_user != @parking_pass.user %>
    <div class="center">
      <%= link_to "Book", new_parking_pass_booking_path(@parking_pass), class: "btn waves-effect waves-light card-panel z-depth-2" %>
    </div>
  <% end %>
  </br>
  </div>
</div>
</br>
<div class="row center">
  <div class="col s12 m10 offset-m1 l8 offset-l2 card-panel z-depth-5" id="booking-info">
    <h2 class="center-align">Bookings:</h2>
    <% @parking_pass.bookings.each do |booking| %>
      <ul class= "center">
        <li>Start Time: <%= booking.start_time%></li>
        <li>End Time: <%= booking.end_time%></li>
      </ul>
    <% end %>
  </div>
</div>
