<!DOCTYPE html>
<html>
  <head>
    <title>BreakableToyFinal</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <% if current_user %>
  <nav>
    <div class="nav-wrapper">
      <div>
        <div class="left">
          <i class="material-icons left" id="person_pin">
            person_pin
          </i>
          <%= link_to "My Profile", user_path(current_user)%>
        </div>
        <div class="col s6 right">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          <i class="material-icons right" id= "power_off">
            power_settings_new
          </i>
        </div>
        <div class="center">
          <%= link_to "Search For Parking", maps_path %>
        </div>
      </div>
    </div>
  </nav>
  <% else %>
  <% end %>


  <body>
    <div class="center-align">
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:success] %>
        <p><%= flash[:success] %></p>
      <% end %>
      <% if flash[:errors] %>
        <p><%= flash[:errors] %></p>
      <% end %>
    </div>
  <%= yield %>
  </body>
</html>
