<!DOCTYPE html>
<html>
  <head>
    <title>BreakableToyFinal</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <nav>
      <div class="nav-wrapper green">
      <% if current_user %>
        <div>
          <div class="left">
            <i class="material-icons left">
              person_pin
            </i>
            <%= link_to "My Profile", user_path(current_user)%>
        </div>
        <div class="col s6 right">
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          <i class="material-icons right">
            power_settings_new
          </i>
        </div>
        <div class="center-align">
          <i class="material-icons center">
            <%= link_to "PARK ME!", maps_path %> search
          </i>
        </div>
      </div>
      <% else%>
        <% if controller_name != "sessions" && action_name != "new" %>
          <% if controller_name != "registrations"%>
            <% if action_name != "new" || action_name != "show" %>
              <div class='row valign'>
                <div class="center-align">
                  <h1>Welcome to ParkMe!</h1>
                </div>
                <%= render "layouts/sign_in_form" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </nav>
    <div>
      <% if flash[:notice] %>
        <p class="center-align"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:success] %>
        <p class="center-align"><%= flash[:success] %></p>
      <% end %>
      <% if flash[:errors] %>
        <p class="center-align"><%= flash[:errors] %></p>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
