<!DOCTYPE html>
<html>
  <head>
    <title>BreakableToyFinal</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>
  <body>
    <% if current_user %>
      <nav>
        <div class="nav-wrapper">
          <div>
            <div class="left">
              <ul id="dropdown1" class="dropdown-content">
                <li><%= link_to "Edit User Account", edit_user_registration_path, class: "btn waves-effect waves-light", id: "edit" %></li>
              </ul>
              <a class="dropdown-button" href="#" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a>
            </div>
          <div class="col s6 right">
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
            <i class="material-icons right" id= "power_off">
              power_settings_new
            </i>
          </div>
          <div class="center">
            <%= link_to "Search For Parking", maps_path %>
          </div>
        </div>
      </div>
    </nav>
    <% else %>
    <% end %>
    <div class="center-align">
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:success] %>
        <p><%= flash[:success] %></p>
      <% end %>
      <% if flash[:errors] %>
        <p><%= flash[:errors] %></p>
      <% end %>
    </div>
    <script src="dropdown.js"></script>
  <%= yield %>
  </body>
</html>
